@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


/* GLOBAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root
{
    /* COLORS */
    --sidebar-bgcolor : #1992D4;

    --logo-fontcolor : #FFFFFF;
    --lists-fontcolor : #FFFFFF;

    /* FONTS */
    --general-font : "League Spartan", serif;
}

/* HTML + BODY */
html
{
    height: 100%;
}

body
{
    min-height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template: 2fr 4fr / 300px 3fr;
    grid-template-areas: 
    "sidebar main"
    "sidebar main";
    font-family: var(--general-font) ;
}

/* STLYING */


/* SIDEBAR */
.sidebar
{
    background-color: var(--sidebar-bgcolor);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    row-gap: 30px;
}

.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px;
}

.logo > h1
{
    color: var(--logo-fontcolor);
}

.navigation
{
    height: 100%;
    padding: 18px;

}

.navigation > ul
{
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    gap: 22px;

}

.navigation > ul > li
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    font-weight: 500;
    color: var(--lists-fontcolor);
    cursor: pointer;
}

.settings
{
    height: 100%;
    padding: 18px;
    display: flex;
    align-items: flex-start;
}

.settings > ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 22px;

}

.settings > ul > li
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    font-weight: 500;
    color: var(--lists-fontcolor);
    cursor: pointer;
}


/* MAIN BODY */
main
{
    background-color: red;
    grid-area: main;
    display:grid ;
    grid-template-rows: 1fr 1fr 9fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "header"
    "body";
}


/* submain - HEADER */
.header
{
    background-color: #FFFFFF;
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas: 
    "toph"
    "bottomh";
}

.top
{
    grid-area: toph;
    display: grid;
    grid-template-columns: 30px 9fr 30px 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 18px;
    column-gap: 12px;

}



.top > input
{
    width: 80%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    background-color: #a7abb1;
    justify-self: flex-start;
    padding: 10px;
}

.top > input:focus
{
    outline: none;

}



.top > .owner__info
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    justify-self: flex-start;
}

.top > .owner__info > img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.bottom
{
    background-color: red;
    grid-area: bottomh;
}



.body
{
    background-color: lightpink;
    grid-area: body;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.body > .projects
{
    grid-area: projects;
    background-color: yellow;
    padding: 10px;

}

.projects > .projects-grid
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit , 1fr);
    gap: 10px;
}

.projects-grid > div
{
    background-color: pink;
}
.body > .announcements
{
    grid-area: announcements;
    background-color: brown;
}

.body > .trending
{
    grid-area: trending;
    background-color: palegoldenrod;
}