@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


/* GLOBAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root
{
    /* COLORS */
    --sidebar-bgcolor : #1992D4;

    --logo-fontcolor : #FFFFFF;
    --lists-fontcolor : #FFFFFF;

    /* FONTS */
    --general-font : "League Spartan", serif;
}

/* HTML + BODY */
html
{
    height: 100%;
}

body
{
    min-height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template: 1fr / 280px auto;
    grid-template-areas: 
    "sidebar main";
    font-family: var(--general-font) ;
}

/* STLYING */


/* SIDEBAR */
.sidebar
{
    background-color: var(--sidebar-bgcolor);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 18px;
}

.logo > h1
{
    color: var(--logo-fontcolor);
}

.navigation
{
    height: 100%;
    padding: 18px;

}

.navigation > ul
{
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    gap: 22px;

}

.navigation > ul > li
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    font-weight: 500;
    color: var(--lists-fontcolor);
    cursor: pointer;
}

.settings
{
    height: 100%;
    padding: 18px;
    display: flex;
    align-items: flex-start;
}

.settings > ul
{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 22px;

}

.settings > ul > li
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 22px;
    font-weight: 500;
    color: var(--lists-fontcolor);
    cursor: pointer;
}


/* MAIN BODY */
main
{
    background-color: red;
    grid-area: main;
    display:grid ;
    grid-template-rows: 1fr 1fr 9fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "header"
    "body";
}


/* submain - HEADER */
.header
{
    background-color: #FFFFFF;
    grid-area: header;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas: 
    "toph"
    "bottomh";
}

.top
{
    grid-area: toph;
    display: grid;
    grid-template-columns: 30px 9fr 30px 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 10px 18px 4px 18px;
    column-gap: 12px;

}
.top > input
{
    width: 80%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    background-color: #a7abb1;
    justify-self: flex-start;
    padding: 10px;
}

.top > input:focus
{
    outline: none;

}



.top > .owner__info
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    justify-self: flex-start;
}

.top > .owner__info > img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.bottom
{
    grid-area: bottomh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 60px 6fr 3fr;
    padding: 4px 18px 10px 18px;
    column-gap: 18px;
    align-items: center;
}

.bottom > img[alt="ownerimage"]
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.crud__buttons
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.crud__buttons > button{
    color: #FFFFFF;
    width:90px;
    height: 40px;
    border-radius: 2rem;
    border: none;
    background-color: #1992D4;
    font-family: var(--general-font);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}

.body
{
    background-color: #E2E8F0;
    grid-area: body;
    display: grid;
    grid-template: 1fr 1fr / 2.5fr 400px;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    padding: 16px 20px 16px 10px;
    gap: 22px;
}

.body > .projects
{
    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.projects > h3,
.announcements > h3,
.trending > h3
{
    font-size: 22px;
}

.projects > .projects-grid
{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 0.85fr 0.85fr;
    grid-template-rows: repeat(auto-fit , 1fr);
    gap: 22px;
}

.projects-grid > .project
{
    border-radius: .55rem;
    border-left: 10px solid #F0B429;
    padding: 35px 35px 5px 35px;
    display: grid;
    row-gap: 35px;
    grid-template: 2fr 1fr / 1fr;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(68, 65, 65, 0.192);
}

.project > .project__info
{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project__info > h3
{
    font-size: 20px;
}

.project__info > p
{
    max-width: 40ch;
    text-align: justify;
}

.project__tool
{
    justify-self: flex-end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 20px;
}

.project__tool > img
{
    cursor: pointer;
}


.body > .announcements
{
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.announcements-grid
{
    background-color: #FFFFFF;
    height: 100%;
    display: grid;
    grid-template: repeat(auto-fit , 1fr) / 1fr;
    list-style: none;
    padding: 45px 25px 45px 25px;
    border-radius: .55rem;
    row-gap: 20px;
    
}

.announcements-grid > li
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 10px;
}

.announcements-grid > li:not(:last-child)
{
    border-bottom: 1px solid grey;
}



.body > .trending
{
    grid-area: trending;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.trending-grid
{
    height: 100%;
    display: grid;
    grid-template: repeat(auto-fit , 1fr) / 1fr;
    list-style: none;
    padding: 45px 25px 45px 25px;
    border-radius: .55rem;
    row-gap: 20px;
    background-color: #FFFFFF;
}

.trending-grid > li
{
    display: flex;
    align-items: center;
    gap: 12px;
}

.trending-grid > li > .trending-info
{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
}

.trending-grid > li > .image
{
    width: 60px;
    height: 60px;
    background-color: #1992D4;
    border-radius: 50%;
}